*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul, li {
  list-style-type: none;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1b1a22;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150vh;
  width: 100%;
}

h1 {
  text-transform: uppercase;
  color: #9e9e9e;
  font-size: 18px;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
}

.main-header {
  height: 200px;
  width: 100%;
  background: no-repeat linear-gradient(178deg, #397539 0%, #020202 80%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 60%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__image {
  width: 150px;
  height: 45px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 35px;
}

.nav__list:nth-child(1)::after {
  margin: 0 auto;
  position: absolute;
  content: "";
  width: 1px;
  height: 20%;
  background-color: white;
  top: 50%;
  right: -25px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin: 0 auto;
}

.nav__link--end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-self: flex-end;
}

.nav__link:hover {
  color: #59c659;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 590px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header-container__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 70px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.fastest-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 30px 0;
}

.fastest-help__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  color: #8e8e8e;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 45px;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  margin: 0 auto;
}

input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93%;
  height: 25px;
  border: none;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 300px;
  margin: 20px 0;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  min-width: 185px;
  max-width: 185px;
  border-radius: 5px;
  padding: 13px 10px;
  font-size: 22px;
  color: white;
}

.category__cards--violet {
  background: #a048a0;
}

.category__cards--red {
  background: #8d2e2e;
}

.category__cards--orange {
  background: #a06d41;
}

.category__cards--green {
  background: #2a694e;
}

.category__cards--gray {
  background: #999999;
}

.category__cards--blue {
  background: #5580a8;
}
/*# sourceMappingURL=main.css.map */