*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul, li {
  list-style-type: none;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #121212;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150vh;
  width: 100%;
}

h1 {
  text-transform: uppercase;
  color: #6a6a6a;
  font-size: 22px;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
}

#price {
  width: 60px;
}

.main-header {
  height: 22vh;
  width: 100%;
  background: no-repeat linear-gradient(178deg, #368b36 0%, #020202 80%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 400px;
  padding-right: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 200px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__image {
  width: 150px;
  height: 40px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 30px;
}

.nav__list:nth-child(1)::after {
  margin: 0 auto;
  position: absolute;
  content: "";
  width: 1px;
  height: 35%;
  background-color: white;
  top: 50%;
  right: -15px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin: 0 auto;
}

.nav__link--end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-self: flex-end;
}

.nav__link:hover {
  color: #59c659;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.header-container__h2 {
  color: white;
  font-size: 45px;
  -webkit-transform: translateY(-50);
          transform: translateY(-50);
}
/*# sourceMappingURL=main.css.map */